.gridContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.grid-square{
    box-sizing: border-box;
   border: 0.1px solid #484848;
    background-color: #fff;
    transition: background-color 0.3s ease;
}


