body {
    user-select: none;
    background-color: #5B6375;
    font-family: Neucha, sans-serif;
}

h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #000;
}

.container{
    display: grid;
    text-align: center;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.buttons-container{
    margin: 1vh;
    align-items: center;
    justify-content: space-between;
}

.button {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}
  
.button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.eraser-active {
    background-color: black;
    color: white;
}


#gridContainer{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-square{
    box-sizing: border-box;
    background-color: white;
    transition: background-color 0.3s ease;
}